@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/943658.eot');
    src: url('../fonts/943658.eot') format('embedded-opentype'),
         url('../fonts/943658.woff') format('woff'),
         url('../fonts/943658.ttf') format('truetype'),
         url('../fonts/943658.svg#CenturyGothicRegular') format('svg');
}


#jp_container_N{display:block !important;position:static !important;background:none !important;}
.jp-video-full #jp_close, .jp-video-full .jp-playlist{display:none;}
.jp-playlist-item-remove{display:none !important;}
.jp-video-full .jp-type-playlist, .jp-video-full .jp-jplayer, .jp-video-full .jp-jplayer video{width:100% !important;height:100% !important;}
.jp-full-screen,.jp-repeat{margin-left: 5%;}
.jp-video-full .jp-gui{display:none !important;}
div.jp-interface ul.jp-controls{background:none;width: auto;}
div.jp-controls-holder{width: 98%;margin-left: 2%;margin-right: 2%;}
div.jp-video ul.jp-controls {margin: 0 auto;width: 103px;float: none;display: block;}
div.jp-video ul.jp-toggles{width: 27%;}
.jp-toggles{position: absolute;right: 0;top: 0;}
.jp-previous, .jp-next, .jp-shuffle{display:none !important;}
#jp_container_N{ }
.jp-type-playlist{}
.jp-playlist{display:none;}
div.jp-audio, div.jp-audio-stream, div.jp-video{border:none !important;}
.items h2{margin-top: 0px;margin-bottom: 5px;font-family: 'CenturyGothicRegular';font-size:80px;color:#fff;text-align:left;line-height: 87px;
         padding-left: 5%;display:inline-block; width:74%;overflow:hidden;}
footer{padding: 5px 0;}
.items .col-lg-9 > p{margin-bottom:0 !important;}
hr{margin:10px 0 !important}
.items .col-lg-9 > h2{text-align: left;}
.panel-heading{text-align:center;color:#fff !important;}
.no-radius{border-radius:0px;}
.today{background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%) !important;background-repeat: repeat-x !important; color:#fff !important;margin-top: -1px;}
.not-today{background-image: linear-gradient(to bottom,#f0ad4e 0,#eb9316 100%) !important;background-repeat: repeat-x !important; color:#fff !important;margin-top: -1px;}
.row-offcanvas{font-family: tahoma;}

body{padding:0;background:#020202; background-image: url("../img/main-bg-border5.png");background-size: 100% 100%; background-repeat:no-repeat;overflow:hidden}
.customClass{margin-top:50px;}
.times:hover, .times{background:none !important;}

.sidebarCustomStyles .panel-default{border:none !important;}
.sidebarCustomStyles .panel, .sidebarCustomStyles  #sidebar2{background:none;font-family: 'CenturyGothicRegular'; color:#F8F7F7; font-size:18px;margin-right: 11px;}
.sidebarCustomStyles  .list-group{margin-right: 12px;}
.panel-heading{background-color: none !important;background: none !important;font-family: 'CenturyGothicRegular';}
.panel-heading h3{font-size:28px;}
#jp_container_N{border:none !important;margin-top: -101px !important;border:15px solid #d30103 !important;}
.thumb{position:relative;overflow: hidden;border-top:15px solid #d30103 !important;}

.jp-gui{display:none !important;}

.sidebarCustomStyles .list-group-item{background:#020202;font-family: 'CenturyGothicRegular'; color:#F8F7F7;}
#sidebar .list-group .panel .panel-heading h3{font-weight:bold;font-family: 'CenturyGothicRegular';}
.panel-default>.panel-heading{border:none;}
#sidebar2 .times{font-family: 'CenturyGothicRegular';font-weight:bold; border:none;width: 49%;overflow: hidden;display: inline-block; vertical-align: middle; text-align: center;}
hr{display:none;}
video {
width: 100% !important;
height: 100% !important;
max-width: inherit !important;
max-height: 780px !important;
}
#teatre-name{display:inline-block; font-family: 'CenturyGothicRegular'; color:#fff; font-size:25px;background-image: url("../img/teatre-logo.png"); 
             background-position:center left; padding-left:75px; background-repeat:no-repeat;height: 67px;padding-top: 16px;width: 24%;
vertical-align: top; margin-top: 1%;overflow:hidden;}
#film-header, #teatre-name, .items h2{max-height:100px;}

.btn-xs, .btn-group-xs>.btn{margin-right: 17px;}

@media screen and (max-width:1505px) {
    #teatre-name{font-size: 20px;padding-top: 20px;}
    .items h2{font-size: 33px !important;padding-left: 3%;}
}

@media screen and (max-width:1350px) {
    #teatre-name{font-size: 15px;padding-top: 24px;background-size: 43px 40px;padding-left: 50px;}
    .items h2{font-size: 25px !important;padding-left: 2%;}
}
@media screen and (max-width:1050px) {
    #teatre-name{}
    .items h2{font-size: 20px !important; }
}

@media screen and (max-width:1000px) {
    #teatre-name{width:100% !important;}
    #film-header, #teatre-name, .items h2{max-height:100% !important}
    .items h2{
        font-size: 25px !important;
        text-align: center;
        width: 100%;
        }
}

@media screen and (max-width:770px) {
    .col-sm-9{padding-right: 32px;}
}

